body {
    background-color: #e4e3e3;
}
hr {
    border-style: none;
    border-top-style: dotted ;
    border-color: grey;
    border-width: 5px;
    width: 5%;
}
h1 {
    color: #3b6978;
}
h3 {
    color: #3b6978;
}

/*****************************Class Selector***************************/

.Game {
    border-radius: 300%;
}